ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}
header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
div.flex-container {
    display: flex;
    /* Show the flex items horizontally */
    flex-direction: row;

}

div.flex-container > div {
    margin: 10px;
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}


/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
}
span#correct{
    background-color: #008000;
}

span#incorrect {
    background-color: #ff0000;
}

.menu, .menu ul{
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu{
    display: block;
    position: relative;
    height: 47px;
    width: 100%;
    background: #fff;
    top: 1px;
}
.menu ul>li {
    display: block;
    position: relative;
    float: left;
}

.dropdown{
    display: none;
}
.menu li>a{
    display: block;
    color: #ffffff;
    padding: 16px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;

    transition: all 0.5s ease;
}
.menu li:hover>a{
    background: #555;
    color: #ffffff;
}
.dropdown{
    /*  display: none;*/
    display: block;
    position: absolute;
    opacity: 0;
    background: #ccc;

    transition: all 0.3s ease;
}

.menu li:hover>ul{
    top: 47px;
    left: 0;
    opacity: 1;
}