#meny{
    float:left;
    padding-right: 30px;
    background-color: gray;
    border-radius: 30%;
}
#sisu{
    float: left;
    padding: 5%;

}
#footer{
    clear: left;
}
img{
    width: 80%;
    border-radius: 30%;
}