table, td{
    width: 40%;
    border: solid 1pt grey;
    border-collapse: collapse;
    text-align: center;
}
form, table{
    width: 30%;
}
input[type=submit]{
    background-color: red;
    padding: 2%;
    width: 40%;
    border-radius: 10px;
}